@media screen and (max-width : 1280px) {
 /* CSS FOR NETBOOK AND DESKTOP ------------*/
 }
 
 @media screen and (max-width : 1024px) {
 /* CSS FOR TABLETS ------------*/
 }
 
 @media screen and (max-width : 768px) {
 /* CSS FOR SMALL TABLETS ------------*/
 }
 
 @media screen and (max-width : 640px) {
 /* CSS FOR IPHONE ------------*/
 }
 
 @media screen and (max-width : 480px) {
 /* CSS FOR MOBILES ------------*/
 }
 
 @media screen and (max-width : 320px) {
 /* CSS FOR SMALL OLD MOBILES ------------*/
 }


@font-face{
    font-family:'Sukar';
    src: url('../fonts/Sukar.ttf')
    }  
@font-face{
    font-family:'TheMixArab';
    src: url('../fonts/TheMixArab Black.ttf')
    }  
@font-face{
    font-family:'JF';
    src: url('../fonts/JF Flat regular_0.ttf')
    }  
@font-face{
    font-family:'TheMixArab';
    src: url('../fonts/TheMixArab Regular.ttf')
    }  
@font-face{
    font-family:'SukarBold';
    src: url('../fonts/SukarBold.ttf')
    }  
body{
    background-image: url(https://github.com/sajy1234/site-1/blob/master/background.png?raw=true);
    height: 100%;
padding: 0;
    
}
.container{
    width: 100%;
    margin: auto;
}
.clear{
    clear: both;
}
.wrapper{
    height: 640px;
}
.wrapper h3, h1, p{
    text-align: center;
}
.header{
    background-color: rgb(17, 17, 17);
height: 36px;
}
.header h3{
    text-align: center;
    color: #fff;
        font-family: TheMixArab;

}
.wrapper h1{
    color: #0076a6;
    font-family: Sukar;
}
.wrapper h1 span{
    font-size: 28px;
}
.wrapper h1:hover{
    font-size: 40px;
    z-transition: all 0.8s ease-in-out;
-webkit-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
-ms-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}
.wrapper p{
width: 40%;
margin-left: 30%;
    margin-bottom: 115px;
    font-family: JF;
}
.wrapper p:hover{
    color: crimson;
    font-size: 22px;
    z-transition: all 0.8s ease-in-out;
-webkit-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
-ms-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}
.twitte{
    width: 350px;
    float: right;
    margin-right: 7%;
}
.twitter{
    width: 250px;
height: 377px;
float: right;
    box-shadow: 4px 4px 4px rgb(102, 102, 102);
    margin-right: 15px;
    border: 5px solid #c3e0ec;
}
.h2{
    width: 350px;
    float: right;
}
h2{
    float: right;
text-align: center;
margin-right: 25%;
    margin-top: 90px;
font-size: 50px;
width: 212px;
    color: #0076a6;
    font-family: TheMixArab;
    line-height: 69px;

    
}
h2:hover{
    font-size: 58px;
    z-transition: all 0.8s ease-in-out;
-webkit-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
-ms-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}
h2:hover{
    color: darkmagenta;
}
.instagram{
    height: 400px;
width: 350px;
float: right;
}
.instagram img{
    width: 50px;
height: 50px;
float: right;
margin-right: 160px;
margin-top: 100px;
    -moz-transition: all 0.8s ease-in-out;
-webkit-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
-ms-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
    
}
.instagram img:hover{
    -moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}

.instagram h3{
    width: 200px;
display: inline-block;
float: right;
margin-right: 85px;
    margin-top: 5px;
    color: #634bc2;
    font-family: SukarBold;
}
.h4-instagram{
    width: 200px;
display: inline-block;
float: right;
margin-right: 46px;
margin-top: -15px;
    text-decoration: underline;
color: #111;
}
.h4-instagram:hover{
    color: blue;
}
.footer{
    display: inline-block;
background-color: rgb(85, 85, 85);
color: rgb(221, 221, 221);
margin-top: 12%;
    width: 100%;
    position: fixed;
    bottom: 0px;  
}
ul{list-style-type:none;list-style:none;margin-right: 46%;}
ul li{list-style-type:none;list-style:none;
float: right;
margin-right: 15px;
font-size: 25px;
}
#instagram:hover{
    color: #e95950;
}
#twitter:hover{
    color:  #00aced;
}
ul a{
    color: #fff;
}
